<div class="banner-index">
  <div class="container-center">
    <h1 class="welcome_title"><strong>WELCOME TO </strong>SOMNIUM</h1>
  </div>
</div>

<div class="container">

  <div class="card_grid row">

    <% @dreams.each do |dream| %>
        <div class="card col-4">

          <div class="card_category">
            <p><%= dream.category %></p>
          </div>

          <div>
            <%= image_tag dream.poster_url, alt: 'poster_url', class: "card_poster" %>
          </div>

          <div class="infos">
             <div class="card_name">
              <p><%= dream.name%></p>
            </div>

            <div class="card_description">
              <p><%= dream.description %></p>
            </div>

            <div class="footer-card">
              <div class="price_level">
                <p><%= dream.price %></p>
                <%= image_tag "plume.png", alt: 'plume', class: "plume" %>
                <p> | <%= dream.transpiration_level %></p>
              </div>

               <div class="card_seemore">
                  <%= link_to '> Voir plus', dream_path(dream) %>
                </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
