

<div class="container">

  <div class="card_grid row">

    <% @dreams.each do |dream| %>
        <div class="card col-4">

          <div class="card_category">
            <p><%= dream.category %></p>
          </div>

          <div>
            <%= image_tag "poster_1", alt: 'poster_url', class: "card_poster" %>
          </div>

          <div class="infos">
             <div class="card_name">
              <p><%= dream.name%></p>
            </div>

            <div class="card_description">
              <p><%= dream.description %></p>
            </div>

            <div class="card_seemore">
              <%= link_to '> Voir plus', dream_path(dream) %>
            </div>


            <div class="price_level">
              <div>
                <p><%= dream.price %><%= image_tag "plume.png", alt: 'plume', class: "plume" %></p>
              </div>

              <div>
                <p><%= dream.transpiration_level %></p>
              </div>

              <div>
                <p><%= link_to 'Edit', edit_dream_path(dream) %></p>
              </div>
              <%= link_to 'Show', dream_path(dream) %>
              <%= link_to 'Edit', edit_dream_path(dream) %>
              <%= link_to 'Destroy', dream, method: :delete, data: { confirm: 'Are you sure?' } %>

            </div>


          </div>
        </div>
    <% end %>
  </div>
</div>
