<h1> <%= dream.name %> </h1>

    <%= dream.description %>
    <%= dream.price %>
    <%= dream.transpiration_level %>
    <%= dream.category %>
    <img src="<% dream.poster_url %>" alt="poster_url">
