<div class="container">


  <%= image_tag current_user.avatar_url, alt: 'poster_url', class: "user_poster" %>

  <h1> Bienvenue <%= current_user.name %></h1>

  <h2>Un nouveau rêve vient d'être ajouté ! </h2>
    <li>
      <%= current_user.bookings.last.dream.name %>
    </li>
    <h2>Les rêves dont je suis proprio</h2>
    <hr>
    <div class="card_grid row">

    <% current_user.owner_dreams.each do |dream| %>
        <div class="card col-4">

          <div class="card_category">
            <p><%= dream.category %></p>
          </div>

          <div class="card_options">

            <div class="edit">
              <%= link_to edit_dream_path(dream) do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>

            <div class="delete">
              <%= link_to dream, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-minus-circle"></i>
              <% end %>
            </div>
          </div>

          <div>
          <% if dream.poster_url %>
            <%= image_tag dream.poster_url, alt: 'poster_url', class: "card_poster" %>
            <% elsif dream.photo.attached? %>
            <%= cl_image_tag dream.photo.key, crop: :fill, class: "card_poster" %>
            <% else %>
            <%=image_tag "logo_navbar.png", class: "card_poster"%>
          <% end %>
          </div>

          <div class="infos">
             <div class="card_name">
              <p><%= dream.name%></p>
            </div>

            <div class="card_description">
              <p><%= dream.description %></p>
            </div>

            <div class="footer-card">
              <div class="price_level">
                <p><%= dream.price %></p>
                <%= image_tag "plume.png", alt: 'plume', class: "plume" %>
                <p> | <%= dream.transpiration_level %></p>
              </div>

                <div class="card_seemore">
                  <%= link_to '> Voir plus', dream_path(dream) %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>



  <h2>My dreams bought</h2>

    <table class="table">
    <thead>
      <tr>
        <th scope="col">Dream's Name</th>
        <th scope="col">Booked</th>
        <th scope="col">For the</th>
      </tr>
    </thead>
    <tbody>
        <% current_user.bookings.order(date: :desc).each do |booking| %>
      <tr>
        <td>
          <%= booking.dream.name %>
        </td>
        <td>
          <%= booking.created_at.strftime("%Y-%m-%d") %>
        </td>
        <td>
          <%= booking.date %>
        </td>
      </tr>
        <% end %>
    </tbody>
  </table>
</div>
