<div class="banner bg_image">
  <div class="container-center">
    <h2 class="user_title">Forgot your password?</h2>

        <div class="form-inputs col-4 m-auto">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class: "login_btn" %>
        </div>
      <% end %>
    </div>
    <div class="shared_link">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
