<!DOCTYPE html>
<html>
  <head>
    <title>DreamteamApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@100;200;600;700;900&family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  </head>

  <body>


<% unless @hide_navbar %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

      <%= link_to image_tag("logo_blanc.png"), dreams_path, class:"navbar-brand logo_navbar" %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= form_tag dreams_path, method: :get do %>
              <div class="d-flex">
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a dream"
                %>
                <%= submit_tag "Search", class: "btn btn-primary" %>
              </div>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to 'Home', dreams_path, class:"nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to 'Add a dream', new_dream_path, class:"nav-link" %>
          </li>

        <li class="nav-item-last">
        <% if current_user %>
           <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"nav-link btn-logout" %>
           <% end %>
       </li>

       <li class="nav-item">
          <% if current_user %>
            <%= link_to image_tag(current_user.avatar_url), my_profile_path, class: "avatar-nav-bar img"%>
          <% end %>
        </li>

        </ul>
      </div>
    </div>
<% end %>


    <%= yield %>
  </body>
</html>


